@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  min-width: 0;
}
/* global.css */
::-webkit-scrollbar {
  height: 6px; /* Diminui a altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb {
  border-radius: 10px; /* Arredonda os cantos do thumb da barra de rolagem */
}

::-webkit-scrollbar-button {
  display: none; /* Remove as setas */
}

  @keyframes shadowMove {
    0%, 100% {
      text-shadow: 
        2px 2px 4px rgba(34, 211, 238, 0.8),  /* Light Cyan */
        4px 4px 8px rgba(13, 148, 136, 0.6), /* Teal */
        6px 6px 12px rgba(13, 148, 136, 0.4); /* Darker Teal */
    }
    50% {
      text-shadow: 
        0px 0px 0px rgba(34, 211, 238, 0.8),  /* Sombras se movem para 0 */
        0px 0px 0px rgba(13, 148, 136, 0.6),
        0px 0px 0px rgba(13, 148, 136, 0.4);
    }
  }